body {
    margin: 0;
    padding: 0;
    background-color: #F8F1F1;
    color: #11698E;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
}


.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 120px;
    font-weight: bolder;
    padding-top: 80px;
}

#moon-icon-title {
    width: 180px;
}


.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #19456B;
}

.login-container input {
    width: 450px; 
    height: 25px;
    padding: 10px; 
    margin: 10px 0; 
    border: 3px solid #585555; 
    border-radius: 10px; 
    font-size: 16px; 
}

.login-container img{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.login-container h2{
    font-size: 2rem;
}

.login-container h3 {
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-container button{

    font-weight: bold;

}


.login-container button {
    width: 30%;
    padding: 10px; 
    margin: 10px 0; 
    border: 4px solid #585555; 
    border-radius: 10px; 
    font-size: 16px; 
}

.login-container button:hover {
    background-color: #ccc;
    border: 3px solid black;
}



.login-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #19456B;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: #91C8E4;
    color: #19456B;
    margin-bottom: 100px;
}

.sidebar {
    position: fixed; 
    top: 0; 
    right: 0;
    left: 0; 
    width: 315px; 
    height: 100%; 
    display: grid;
    align-items: center;
    background-color: #91C8E4;
    color: #19456B;
    
}

.sidebar a{
    text-decoration: none;
}

.logout-button{
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    text-decoration: none;
    color: #19456B;
    background-color: #91C8E4;
    font-size: 3.5rem;
    font-weight: lighter;
    padding-left: 10px;
    height: 155px;
}

.logout-button:hover{
    background-color: white;
    cursor: pointer;
}



.logout-button p{
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

#header {
    display: flex;
    align-items: center; 
    width: 100px;
    height: 120px;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 10px
}

#moon-icon{
    width: 80px;
    
}



.icon {
    display: flex;
    align-items: center;
    width: auto;
    text-decoration: none;
    color: #19456B;
    font-size: 3.5rem;
    font-weight: lighter;
    padding-left: 10px;
    height: 155px;
}

.icon:hover {
    background-color: white;
    cursor: pointer;
}

.sidebar .icon.active {
    background-color: white;
    
}

.icon p {
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

.icon a {
    text-decoration: none;
}


.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 330px; /* Adjust this value to match your sidebar width */
    padding-top: 20px; /* Add padding to create space from the top */
}

.hidden {
    display: none;
}

#userForm,
#accountBalance,
#hidden {

  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
}

#userName {
  padding: 10px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#addUserButton,
#depositButton,
#withdrawButton {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 1500px;
  margin-top: 20px;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.user-actions {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#hidden {
  display: none;
}

#userForm button{
    padding: 10px 18px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#userForm button:hover{
    background-color: #0056b3
}

#addUserButton:hover,
#depositButton:hover,
#withdrawButton:hover {
  background-color: #0056b3;
}



.signUpForms{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.signUpForms input{
    width: 50vh;
    height: 3vh;
    font-size: 1.2rem;
}

#SubmitSignupButton {
    margin-top: 20px;
    width: 20vh;
    height: 5vh;
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#SubmitSignupButton:hover {
    background-color: #0056b3
}

.signUpForms h3 {
    margin-bottom: 0;
    margin-top: 40px;
}

.signUpForms h4 {
    font-style: italic;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}


.user-home-page{
    display: grid;
  
    height: 100%;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
}

#dashboard-greeting {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 5rem;
}

.my-accounts {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    font-weight: bold;
    
}

.my-accounts h2 {
    font-size: 3rem;
}

#account{
    grid-column: 1;
    grid-row: 3;
    border: 3px solid black;
    border-radius: 10px;
    width: 450px;
    height: 315px;
    font-size: 2.2rem;
    font-weight: lighter;
    
}

.widthdrawDepo{
    grid-column: 2;
    grid-row: 3;
    
}




#Widthdraw button,
#Deposit button {
    display: flex;
    align-items: center;
    font-size: large;
    border: 3px solid black;
    border-radius: 10px;
    width: 180px;
    height: 145px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

#Widthdraw button{
    margin-bottom: 33px;
}

#Widthdraw button:hover,
#Deposit button:hover{
    background-color: lightgray;
    border: 3px solid grey
    
}

.budgetAppContainer {
    grid-column: 1 / span 3;
    grid-row: 4;
}


#Widthdraw img,
#Deposit img{
    width: 50px;
 
}

#Widthdraw img,
#Deposit img{ 
    padding: 10px;
}


.expense-Tracker {
    font-size: 1.5rem;
}


.budget-tracker{
    border-collapse: collapse;
    background-color: white;
    width: 1500px;
}


.budget-tracker tr{
    font-size: 2rem;
}

.budget-tracker th, td{
    padding-top:10px;
    padding-bottom: 10px;
}



.budget-tracker input, select{
  
    font-size: 1rem;
}

.new-entry{
   
    width: 15vh;
    height: 3vh;
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.new-entry:hover {
    background-color: #0056b3
}